header {
    background-color: #444444;
    width: 100vw;
    height: 250px;
}
.container {
    float: left;
}
.container_left {
    float: left;
    width: 15vw;
    height: 100vh;
    background-color: #D8D8D8;
}

.container_middle {
    float: left;
    width: 70vw;
    height: 100vh;
    background-color: black;
}

.bottom {
    width: 70vw;
    height: 80vh;
    background-color: white;
    margin: auto;


}
.container_right {
    float: right;
    width: 15vw;
    height: 100vh;
    background-color: #D8D8D8;
}

